bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.15.0
cryptography==36.0.0
Eel==0.14.0
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
numpy==1.21.4
Pillow==8.4.0
pycparser==2.21
pyparsing==3.0.6
six==1.16.0
tinydb==4.5.2
whichcraft==0.6.1
wxPython==4.1.1
zope.event==4.5.0
zope.interface==5.4.0
