*{
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body{
  background-color: #f4f4f4;
}

.topnav {
  background-color: #006cbf;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.child{
  padding: 10px 15px;
}

h1{
  color: white;
  font-family: "Roboto", san-serif;
}

h2{
  font-weight: 700;
  font-family: "Roboto", san-serif;
}

h3{
  font-weight: 700;
}

.content-wrapper{
  max-width: 1000px;
  margin: 30px auto;
}

.content-flex{
  display: flex;
  justify-content: space-between;
}

.content-wrapper-child{
  width: 48%;
  background-color: white;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
}

.child-child{
  padding: 20px;
}

.bottom-stat{
  max-width: 1000px;
  margin: 30px auto;
  background-color: white;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  /*border-radius: 20px;*/
  padding: 20px;
  height: 200px;
}

.file-split-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 30px;
  align-content: center;
}

#button{

}

.split-header{
  display: flex;
  align-items: center;
  border-bottom: 2px #ddd solid;
  border-bottom: 2px #006cbf solid;
  border-bottom: 2px #888 solid;
}

.file{
  word-break: break-all;
  padding: 3px 0px;
}

.class-for-filenames{
  padding: 5px 0px;
}

.class-for-filenames p{
  padding: 3px 0px;
  width: 80%;
}

.inline-div{
  width: 10px;
  height: 2px;
  /*margin: auto auto auto 0;*/
  /*background-color: red;*/
}

.button-style{
  padding: 3px 8px;
  border: 2px solid #ddd;
  background-color: #f4f4f4;
  font-weight: bold;
  font-size: 15px;

}

.button-style-header{
  padding: 3px 8px;
  border: 2px solid #ddd;
  background-color: #f4f4f4;
  font-weight: bold;
  font-size: 15px;
}

.button-style:hover, .button-style-header:hover{
  cursor: pointer;
}

#button2{
  display: inline;
}

.drive-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 30px;
  align-content: center;
  margin: 10px 0px;
}

.flex-container{
  display: flex;
  justify-content: space-between;
}

.left{
  width: 50%;
}

.drive, .file_saved{
  word-break: break-all;
  padding: 4px 0px;
}

.file_saved:hover{
  cursor: pointer;
  background-color: #f4f4f4;
}

.right{
  width: 50%;
}